$headlineColor: #c4c4c4;
$textColor: #a5a5a5;
$primaryColor: #2E1434;
$lilacAccent1: #6A3184;
$lilacAccent2: #86519C;
$lilacAccent3: #A062A5;
$trueBlack: #000000;
$white: #FFFFFF;

$fontPath: "../fonts";
$imgPath: "../img";
